<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.gunit.projectwizard"
         name="Gunit Project Wizard"
         point="org.eclipse.ui.newWizards">
      <category
            id="com.gunit.projectwizard.gunit"
            name="Gunit Projects">
      </category>
      <wizard
            category="com.gunit.projectwizard.gunit"
            class="com.gunit.projectwizard.UnitTestProjectWizard"
            descriptionImage="icons/accept.gif"
            finalPerspective="com.gunit.perspective"
            icon="icons/accept.png"
            id="com.gunit.wizard"
            name="Unit Test"
            project="true">
      </wizard>
   </extension>
   <extension
         id="com.gunit.projectwizard.unittestprojectnature"
         name="Unit Test Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.gunit.projectwizard.UnitTestProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="com.gunit.perspecives"
         name="Gunit Unit Test Perspective"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.gunit.projectwizard.PerspectiveFactory"
            icon="icons/accept.png"
            id="com.gunit.perspective"
            name="Gunit Unit test Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <newWizardShortcut
               id="com.gunit.wizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
